#Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    background-color: white;
    transition-duration: 0.3s;
    background-image: url("../assets/Backdrop.png");
    background-repeat: repeat-x;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 101;
    user-select: none;
    -moz-user-select: none;
}

#Sidebar:hover {
    width: 256px;
}

#Sidebar:hover+#Overlay {
    box-shadow: inset 10000px 10000px 10000px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 1);
}

#Sidebar:hover .RoundButton {
    width: 246px;
    margin: 2px;
    border-radius: 200px;
}

#Sidebar:hover .SidebarText {
    font-size: 20px;
}

#Sidebar:hover .SidebarIcon {
    position: absolute;
    color: transparent;
}

#Sidebar:hover #SidebarTitle {
    color: Black;
    left: 48px;
}

#SidebarTitle {
    position: absolute;
    color: transparent;
    transition-duration: 0.3s;
    left: 0px;
    top: 32px;
    font-family: 'Spectral SC', serif;
}

#Overlay {
    transition-duration: 0.3s;
    z-index: 100;
    pointer-events: none;
}

#Maincontent {
    position: absolute;
    top: 0;
    left: 64px;
    width: calc(100% - 64px);
    height: 100%;
    z-index: 0;
}

#TopClouds {
    position: relative;
    width: 100%;
    height: 64px;
    background-image: url("../assets/Backdrop_revert.png");
}

body {
    font-family: 'Roboto', sans-serif;
}

#ExitButton {
    position: relative;
    bottom: 0px;
}