.TransparentBox {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    margin: auto;
    transform: translateY(180px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BlurBehind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0px);
    background-image: url(../assets/Backgrounds/pexels-photo-414171.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
}

.FlatInputText {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 50%;
    margin-bottom: 20px;
    border: none;
    border-color: rgba(215, 215, 214, 0.1);
    border-bottom: 1px solid rgb(215, 215, 214);
    transition-duration: 0.3s;
}

.FlatInputText:focus {
    border-bottom: 1px solid rgb(153, 153, 153);
    width: 90%;
}

.FlatInputText:hover {
    cursor: pointer;
}

.FlatInputText:focus::placeholder {
    color: transparent;
}

.FlatButtonLarge {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(74, 161, 190);
    height: 70px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    transition-duration: 0.1s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.FlatButtonLarge:active {
    background-color: rgb(39, 108, 131);
}

.FlatButtonLarge:hover {
    cursor: pointer;
}

.Sidebar {
    background: inherit;
    width: 100px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.Sidebar:after {
    content: '';
    width: 400px;
    height: 110%;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    filter: blur(10px);
}

.Background {
    position: fixed;
    top: 0;
    left: 0;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-image: url(../assets/Backgrounds/mountain-top-peek-black-585558.jpeg)
}

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(53, 138, 167);
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.slider::-moz-range-thumb:active {
    background-color: rgb(25, 76, 94);
}

.slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(53, 138, 167);
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.slider::-webkit-slider-thumb:active {
    background-color: rgb(25, 76, 94);
}

.slider {
    margin-top: 12.5px;
}